<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" />
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en-US" />
        <meta name="language" content="en-US" />
        <title>wymypy</title>
        <!-- ======================================================
            CSS
        ====================================================== -->
        <link rel="stylesheet" type="text/css" href="static/main.css" />
        
        <!-- ======================================================
            JavaScript
        ====================================================== -->
        <script type="text/javascript" src="static/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="static/main.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                refresh_player_loop();
            });
        </script>
    </head>
    
    <!-- =======================================================
        HTML Body
    ======================================================= -->
    <body>
        <div id="zone_menu">
            <!-- generate menu bar -->
            {% for plugin in plugins %}
                {% if plugin.has_panel %}
                    {% if plugin.button_label %}
                        <button onclick='load_plugin_content("{{plugin.name}}", "index", {});'>{{plugin.button_label}}</button>
                    {% else %}
                        {{ plugin.button_html|safe }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        
        <div id="zone_options">
            <b style='float:right; margin-top:8px;'><a href='http://github.com/02strich/wymypy'>wymypy</a></b>
            <div style="display:inline;">
                <select id='timer' onchange="refresh_player_loop();">
                    <option value='1000'>refresh 1s</option>
                    <option value='2000'>refresh 2s</option>
                    <option value='5000' selected>refresh 5s</option>
                    <option value='10000'>refresh 10s</option>
                    <option value=''>refresh none</option>
                </select>
                <input type="checkbox" id='dispTags' onchange='changeDisplay(this);' />
            </div>

            {% if player_stream %}
                <div id="stream_player" data-stream-src="{{ player_stream }}"></div>
            {% endif %}

        </div>
        
        <div id="zone_player">{{ player|safe }}</div>
        <div id="zone_plugins">
            <h1>Welcome</h1>
            <p>Welcome to wymypy ! From here you can pilot your Music Player Daemon!</p>
            <p>At the top, you have the "plugin bar" with provide the main operations in your library. Plugins will always be displayed in this zone.</p>
            <p>At the right, you can control your player, and your playlist.</p>
            <p>At the bottom right, you can control the refresh rate.</p>
        </div>
        <div id="zone_playList">{{ player_playlist|safe }}</div>
    </body>
</html>
