<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" />
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="en-US" />
		<meta name="language" content="en-US" />
		<title>wymypy</title>
		<!-- ======================================================
			CSS
		====================================================== -->
		<link rel="stylesheet" type="text/css" href="static/main.css" />
		<link rel="stylesheet" type="text/css" href="plugins.css" />
		<style>
			div#zonePlayer {
				padding:2px;
				position:absolute;
				left:2%;
				top:24px;
				right:0px;
				overflow:auto;
				height:70px;
			}
		</style>
		
		<!-- ======================================================
			JavaScript
		====================================================== -->
		<script type="text/javascript" src="static/main.js"></script>
		<script type="text/javascript" src="plugins.js"></script>
	</head>
	
	<!-- =======================================================
		HTML Body
	======================================================= -->
	<body onload="init();">
		<div id="zonePlayer"></div>
	</body>
</html>